@model KancelarijaBoilerplate.KoriscenjeUredjaja.Dto.KoriscenjeUredjajaInput
@{
    ViewData["Title"] = "CreateHistory";
}

<h2>CreateHistory</h2>

<form action="" method="post">
    <label>Device Id</label>
    <input type="text" name="uredjajid" placeholder="Device Id"/><br/>
    <label>Person Id</label>
    <input type="text" name="osobaid" placeholder="Person Id"/><br />
    <input type="submit" value="Create"/>

</form>