@model KancelarijaBoilerplate.KoriscenjeUredjaja.Dto.KoriscenjeUredjajaInput
@{
    ViewData["Title"] = "CreateHistory";
    var list = ViewBag.OsobaDropdown as SelectList;
}

<h2>CreateHistory</h2>

<form action="" method="post">
    <label>Device Id</label>
    <input type="text" name="uredjajid" placeholder="Device Id" /><br />
    <label>Person Id</label>
    @Html.DropDownListFor(x => x.OsobaId, list, "Odaberi Osobu")<br />
    <input type="submit" value="Create" />

</form>