
@{
    ViewData["Title"] = "DeleteHistory";
}

<h2>DeleteHistory</h2>
<form action="" method="post">
    <label> Id </label>
    <input type="text" name="id" placeholder="id"/> &nbsp; <input type="submit" value="Delete"/>
</form>

