@model KancelarijaBoilerplate.Blog.BlogDto
@{
    ViewData["Title"] = "AddBlog";
}

<h2>AddBlog</h2>
<form action="" method="post">
    <input type="text" name="person" placeholder="Person"/><br/>
    <textarea name="post" placeholder="Post"></textarea><br/>
    <input type="submit" value="Save"/>
</form>

