@model KancelarijaBoilerplate.Osoba.Dto.OssobaDeleteDto
@{
    ViewData["Title"] = "DeleteOsoba";
}

<h2>DeleteOsoba</h2>


    <form action="" method="post">
        <label>Id</label>
        <input type="text" name="id"/>&nbsp;<input type="submit" value="delete"/>
    </form>

