@model KancelarijaBoilerplate.Osoba.OsobaInput
@{
    ViewData["Title"] = "EditOsoba";
}

<h2>EditOsoba</h2>

<form action="" method="post">
    <label>Id</label>
    <input type="text" name="id" placeholder="Id" size="4"/><br />
    <label>Name</label>
    <input type="text" name="ime" placeholder="Name"/><br/>
    <label>Surname</label>
    <input type="text" name="prezime" placeholder="Insert Surname"/><br/>
    <label>kancelarija Id</label>
    <input type="text" name="kancelarijaid" placeholder="Office Id"/><br/>
    <input type="submit" value="Edit"/>
</form>