@model KancelarijaBoilerplate.Osoba.OsobaInput
@{
    ViewData["Title"] = "EditOsoba";
    var list = ViewBag.DropDown as SelectList;
}

<h2>EditOsoba</h2>
@if (Model != null)
{
    <form action="" method="post">
        <label>Name</label><br />
        <input type="text" name="ime" placeholder="Person Name"  value="@Model.Ime"/><br />
        <label>Surname</label><br />
        <input type="text" name="prezime" placeholder="Surame" value="@Model.Prezime"/><br />
        <label>Office</label><br />
        @Html.DropDownListFor(x => x.KancelarijaId, list, @Model.KancelarijaId)
        <input type="submit" value="Save" />
    </form>
}
