@model KancelarijaBoilerplate.Web.Views.OsobeGetAllModel
@{
    ViewData["Title"] = "GetAllOsoba";
}

<h4>GetAllOsoba</h4>

@foreach (var o in Model.Osoba)
{

    <ul>
        <li>Ime i Prezime: @o.Ime @o.Prezime</li>
        <li>kancelarija: @o.Kancelarija.Opis</li>
        <li><a href="DeleteOsoba/@o.Id"> Delete </a> &nbsp <a href="EditOsoba/@o.Id" > Edit </a></li>
    </ul>
}