@model KancelarijaBoilerplate.Language.LanguageDto
@{
    ViewData["Title"] = "AddLanguage";
}

<h2>AddLanguage</h2>

<form action="" method="post">

    <label>Name</label><br />
    <input type="text" name="name" /><br />
    <label>Prefix</label><br />
    <input type="text" name="prefix" /><br />
    <label>Flag</label><br />
    <input type="text" name="flag" />
    <input type="submit" value="Save"/>
</form>

