
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<form action="" method="post">
    <label>Unesi Id Uredjaja</label><br />&nbsp;
    <input type="text" size="5" name="id" placeholder="Id" /> &nbsp;
    <input type="submit" value="Delete" name="delBtn" />
</form>