@model KancelarijaBoilerplate.Kancelarija.KancelarijaEditDto
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form action="" method="post">
    <label> Unesi novi opis za kancelariju </label>
    <input type="text" name="Opis" size="20" value="@Model.Opis"/> &nbsp; <input type="submit" value="Edit" />
</form>
