@using KancelarijaBoilerplate.Web.Startup
@model KancelarijaBoilerplate.Web.Views.KancelarijaGetAllModel


<table border="1">
    <tr>
    <th colspan="3"> Lista svih Uredjaja </th>

    <tr>
    <tr>
        <th>Kancelarija</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>

    @foreach (var kancelarija in Model.Kancelarija)
    {
        <tr>
            <td>@kancelarija.Opis</td>
            <td><a onclick="return confirm('Are you sure you want to delete this?')" href="Delete/@kancelarija.Id" class="deleteBtn">Delete</a></td>
            <td><a href="Edit/@kancelarija.Id" class="editBtn">Edit</a></td>
        </tr>
    }

</table>