@model KancelarijaBoilerplate.Kancelarija.KancelarijaInput
@{
    ViewData["Title"] = "KreirajKancelariju";
}

<h2>KreirajKancelariju</h2>

<form action="" method="post">
    <input type="text" name="opis" placeholder="Opis Kancelarije"/> &nbsp; <input type="submit" value="Save" />
</form>

